{{- template "shared/zshenv.tmpl" . }}
{{ if eq .chezmoi.os "darwin" -}}
{{-   template "macos/zshenv.tmpl" . -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   template "linux/zshenv.tmpl" . -}}
{{- end -}}
