{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# functions.sh" hash: {{ include  ".scripts/shared/functions.sh" | sha256sum }}
source {{ joinPath .chezmoi.sourceDir "/.scripts/shared/functions.sh" | quote }}

update_packages
install_apt_package pipx
install_apt_package ansible
install_apt_package az azure-cli
install_apt_package ngrok ngrok

install_pipx_package keeper keepercommander

# TODO: install

# snap packages
sudo snap install terraform --classic

# brew packages
install_brew_package k9s
install_brew_package pulumi
install_brew_package helm
install_brew_package sops
install_brew_package terragrunt
install_brew_package atlantis
install_brew_package inframap

# Install dotnet
install_dotnet_version "6.0.423" "8.0.301" # "8.0.206"

# Install gitkraken
wget https://release.gitkraken.com/linux/gitkraken-amd64.deb
sudo apt install -y --quiet ./gitkraken-amd64.deb
rm ./gitkraken-amd64.deb

echo "A reload of .bashrc might be needed, use . ~/.bashrc"

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/bash

if [ ! -f ~/.docker/cli-plugins/docker-scout ]; then
  curl -sSfL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh | sh -s --
fi

pipx install --include-deps ansible==10.7.0

pipx install shcheck # check http headers
pipx install keepercommander
pipx install molecule
pipx inject molecule "molecule-plugins"

tenv tf install --arch=amd64 1.13.0
tenv tg install 0.66.7
tenv tofu install --arch=amd64 1.10.6
#vagrant plugin install vagrant-vmware-desktop

goenv install 1.24.4
goenv global 1.24.4

volta install node@20
volta install pnpm@8.6.2
volta install yarn

# OPEN CODE
curl -fsSL https://opencode.ai/install | bash
{{ end -}}
