eval "$(starship init zsh)"
eval "$(zoxide init zsh)"

source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
source <(docker completion zsh) # Makes the first load a bit slower
source <(kubectl completion zsh) && complete -F __start_kubectl k
#source <(pulumi gen-completion zsh)
source <(helm completion zsh)
source <(tenv completion zsh)
#source <(chezmoi completion zsh)
autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /opt/homebrew/bin/terraform terraform

#source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
#source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Required by zoxide
source <(fzf --zsh)

# zinit plugin, load before compinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

# Load zinit plugins
zinit ice atload"zpcdreplay" atclone"./zplug.zsh" atpull"%atclone" wait"0" lucid
zinit light g-plane/pnpm-shell-completion
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab


#if type brew &>/dev/null; then
#  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
autoload -Uz compinit
compinit
zinit cdreplay -q
#fi

_complete_psql() {
    services=$(egrep -o '^\[.+\]' ~/.pg_service.conf | cut -f2 -d\[ | cut -f1 -d] | sort | sed 's/^/service=/')
    if [[ $services ]]
    then
        COMPREPLY=( $( compgen -W "$services" -- ${COMP_WORDS[COMP_CWORD]}) )
    else
        echo
        echo "(no services)"
        echo -n "> ${COMP_WORDS} "
    fi
    return 0
}
complete -F _complete_psql psql pgcli

# Custom switch context completion
_complete_sc() {
  files=$(ls -1 ~/.private/.env.d/)
  if [[ $files ]]
  then
      COMPREPLY=( $( compgen -W "$files" -- ${COMP_WORDS[COMP_CWORD]}) )
  else
      echo
      echo "(no files)"
      echo -n "> ${COMP_WORDS} "
  fi
  return 0
}
complete -F _complete_sc sc sc.sh
sc mm

# make sure you execute this *after* asdf or other version managers are loaded
if (( $+commands[orbctl] )); then
  eval "$(orbctl completion zsh)"
  compdef _orb orbctl
  compdef _orb orb
fi

# yazi
function yy() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

HISTFILESIZE=100000000000
HISTSIZE=100000000000

# Zsh options
# Alows zsh to use bash-style comments
setopt INTERACTIVE_COMMENTS
# Case insensitive globbing
setopt NO_CASE_GLOB
# share history across multiple zsh sessions (enables extended history)
setopt SHARE_HISTORY
# append to history
setopt APPEND_HISTORY
# adds commands as they are typed, not at shell exit
setopt INC_APPEND_HISTORY
# expire duplicates first
setopt HIST_EXPIRE_DUPS_FIRST
# do not store duplications
setopt HIST_IGNORE_DUPS
#ignore duplicates when searching
setopt HIST_FIND_NO_DUPS
# removes blank lines from history
setopt HIST_REDUCE_BLANKS
# Show hidden items when completing
setopt globdots
# don't store command in history file if prefixed by space
setopt HIST_IGNORE_SPACE

# Enable completion on special-dirs like . and .. so when pressing tab it will complete to ./ and ../
zstyle ':completion:*' special-dirs true
# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
# NOTE: don't use escape sequences (like '%F{red}%d%f') here, fzf-tab will ignore them
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# force zsh not to show completion menu, which allows fzf-tab to capture the unambiguous prefix
zstyle ':completion:*' menu no
# preview directory's content with eza when completing cd
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color always $realpath'
zstyle ':fzf-tab:complete:z:*' fzf-preview 'ls --color always $realpath'
zstyle ':fzf-tab:complete:ls:*' fzf-preview 'ls --color always $realpath'
zstyle ':fzf-tab:complete:lsd:*' fzf-preview 'ls --color always $realpath'
# custom fzf flags
# NOTE: fzf-tab does not follow FZF_DEFAULT_OPTS
#zstyle ':fzf-tab:*' fzf-flags --color=fg:1,fg+:2 --bind=tab:accept
# switch group using `<` and `>`
zstyle ':fzf-tab:*' switch-group '<' '>'

bindkey -e
bindkey "^[[3~" delete-char                    # Key Del
bindkey '^[[3;3~' kill-word                    # Key Alt + Del  (delete word)
bindkey "^[[5~" beginning-of-buffer-or-history # Key Page Up
bindkey "^[[6~" end-of-buffer-or-history       # Key Page Down
bindkey "^[[H" beginning-of-line               # Key Home
bindkey "^[[F" end-of-line                     # Key End
bindkey "^[[1;3C" forward-word                 # Key Alt + Right
bindkey "^[[1;3D" backward-word                # Key Alt + Left